@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

:root {
  --bs-dark: #1F1F1F;
  --bs-info: #292929;
  --bg-sucess: #5090b4;
  --bs-primary: #0E46C9;
  --bs-secondary: #1E00FF;
  --bs-light: #ffffff;
}
* {
  font-family: "Almarai";
}

h1, .h1 {
  font-size: 35px;
  font-weight: 400;
  color: var(--bg-dark);
}

h2, .h2 {
  font-size: 20px;
  font-weight: 700;
  color: var(--bg-dark);
}

h3, .h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--bg-dark);
}

h4, .h4 {
  font-size: 15px;
  font-weight: 700;
  color: var(--bg-dark);
}

h5, .h5 {
  font-size: 12px;
  font-weight: 700;
  color: var(--bg-dark);
}



/*----- Styles Généraux -----*/

/*----- Section Hero -----*/
