@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

* {
  font-family: "Almarai";
}



h1 {
  font-size: 40px;
  font-weight: 900;
  color: var(--noire);
}

h2 {
  font-size: 34px;
  font-weight: 700;
  color: var(--noire);
}

/*----- Styles Généraux -----*/

/*----- Section Hero -----*/
