/*----- Styles Généraux -----*/
*{
    color: var(--noir);
}

body {
    background-color: var(--blanc);
}

.logo {
    height: 60px;
    width: 55px;
}

.pdp {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.btn {
    border-color: var(--bleu-fonce);
    margin-right: 20px;
}

.navbar {
    width: 100%;
    background-color: var(--bleu);
}
/*----- Section Hero -----*/

footer {
    background-color: var(--bleu-r);
}

.logo-tim{
    height: 70px;
    width: 250px;
}

.p-1rem {
    padding: 1rem;
}

.mt-1rem {
    margin-top: 1rem;
}

.search {
    border: 1px solid var(--bleu-fonce);
    border-radius: 15px;
    padding-left: 1rem;
}

.search-input {
    width: 60vw;
    margin-left: 10px;
    border: none;
}

.sec2 {
    overflow: hidden;
}

.list-ul {
    list-style: none;
}

.bi-search {
    color: var(--noir-gris);
    font-size: 20px;
}