/*----- Styles Généraux -----*/
*{
    color: var(--blanc);
}

body {
    background-color: var(--gris-bg);
}

button {
    background-color: black;
    color: black;
}

.logo {
    height: 60px;
    width: 55px;
}

.navbar {
    width: 100%;
    background-color: red;
}
/*----- Section Hero -----*/