/*----- Styles Généraux -----*/
* {
  text-align: center;
}

body {
background-color: #f8f8f8;
}



/*----- Section Hero -----*/
.navbar {
  background-color: #a7b7f4;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  height: 90px;
}
.container-hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img {
  width: 90px;
}

footer {
  background-color: #a7b7f4;
}

.container {
  margin: 10vh auto;
}

section:nth-child(even) .container {
  background-color: #a7b7f4;
}

#hero #description {
  font-size: 1.5rem;
}

#hero em {
  font-size: 1em;
}

#hero p {
  font-size: 4rem;
}

#hero .mobile {
  height: 100%;
}

.nav-item .active {
  border-radius: 6px;
}

.temoin-image {
  object-position: center;
}

.imgprofile {
  height: 7vh;
}

.row h2 {
  margin-top: 2vh;
}