/*----- Styles Généraux -----*/
*{
    color: var(--noir);
}

body {
    background-color: var(--blanc);
    padding-top: 80px;
}

.logo {
    height: 40px;
    width: 35px;
}

.pdp {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.btn {
    border-color: var(--bleu-fonce);
    margin-right: 20px;
}

.navbar {
    width: 100%;
    background-color: var(--bleu);
}

.navbar-toggler {
    padding:0px 0px 0px 0px;
    border: none;
  }
/*----- Section Hero -----*/

.p-1rem {
    padding: 1rem;
}

.mt-1rem {
    margin-top: 1rem;
}

.search {
    border: 1px solid blue;
    border-radius: 15px;
    padding-left: 1rem;
}

.search-input {
    width: 60vw;
    margin-left: 10px;
    border: none;
}

.sec2 {
    overflow: hidden;
}

.list-ul {
    list-style: none;
}

.bi-search {
    color: var(--noir-gris);
    font-size: 20px;
}

.card-img {
    height: 20vh;
}

/*----- Footer -----*/

footer {
    padding: 1rem;
}

.logo-tim{
    height: 55px;
    width: 225px;
}