/*----- Styles Généraux -----*/
* {
  text-align: center;
}

body {
  background-color: #f8f8f8;
}

/*----- Section Hero -----*/
.navbar {
  background-color: #a7b7f4;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  height: 90px;
}
.container-hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img {
  width: 90px;
}

footer {
  background-color: #a7b7f4;
}

.container {
  margin: 10vh auto;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#hero #description {
  font-size: 1.5rem;
}

#hero em {
  font-size: 1em;
}

#hero p {
  font-size: 4rem;
}

#hero .mobile {
  height: 100%;
}

.nav-item .active {
  border-radius: 6px;
}

.temoin-image {
  object-position: center;
}

.imgprofile {
  height: 7vh;
}

.row h2 {
  margin-top: 2vh;
}
<!--Swiper-->
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

#info {
  height: 70vh;
}

.bg-image {
background-image: url(../assets/artworks/bg_robot.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
